#personal_projects{
    height: 70rem;
    width: 100%;
    @include breakpoint-down(small){
        height: 75rem;
        width: 22.5rem;
    }
        .project_content{
            padding: 50px;
            @include breakpoint-down(small){
                // height: 50rem;
                // width: 22.5rem;
                padding: 20px 15px;
            }
            & p:nth-child(1){
                text-transform: uppercase;
                font-size: 14px;
                font-family: $primaryFont;
                font-weight: 500;
                color: $pickupColor;
                letter-spacing: 4px;
                opacity: .75;
                @include breakpoint-down(small){
                    font-size: 13px;
                    margin-bottom: 6px;
                };
                
            }
            & p:nth-child(2){
                font-size: 75px;
                font-family: $primaryFont;
                font-weight: 900;
                color: #000;
                // margin: 10px 0 40px 0;
                @include breakpoint-down(small){
                    font-size: 36px;
                };
            }
        }
        .project_container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            // grid-auto-rows: 1fr;
            padding: 50px 50px;
            width: 100%;
            height: 50.625rem;
            gap: 40px;
            // position: relative;
            
            @include breakpoint-down(small){
                height: 63rem;
                gap: 20px;
                grid-template-columns: 1fr;
                grid-auto-rows: 1fr 1fr ;
                padding: 20px 15px;
            }
            
            .box_container1{
                position: relative;
                background-image: url(../content/triniso-01.jpg);
                background-size: cover;
                background-position: center left;
                transition: background .4s;
                background-repeat: no-repeat;
                    
                    .hover_button{
                        color: #fff;
                        visibility: hidden;
                        margin-top: 15px;
                        font-size: 17px;
                        font-weight: 500;
                        opacity: 0;
                        }

                        &:hover{
                            cursor: pointer;
                            background: url(../content/triniso-01.jpg) center center rgba(1, 8, 31, 0.8);
                            background-size: cover;
                            background-blend-mode: multiply;
                            background-position: center left;
                            // transition: transform ease-in-out .4s ;
                            // transform: scale(1.1);

                            .hover_button{
                                visibility: visible;
                                animation: box__content .3s ease-in $lar__del forwards;
                            }
                            .box_text{
                                & p:nth-child(1){
                                    animation: box__content .3s ease-in $sm__del forwards;
                                }
                                & p:nth-child(2){
                                    animation: box__content .3s ease-in $med__del forwards;
                                }
                            }
                        }
                    .box_text{
                        padding: 50px;
                        width: 300px;
                        height: 250px;
                        @include breakpoint-down(small){
                            width: 250px;
                            height: 300px;
                            padding: 30px 20px;
                        }
                        p:nth-child(1){
                            color: rgb(146, 138, 138);
                            font-size: 16px;
                            font-weight: 500;
                            font-family: sans-serif;
                        }
                        & p:nth-child(2){
                            color: rgb(255, 255, 255);
                            font-size: 35px;
                            font-weight: bold;
                            padding-top: 15px; 
                        }    
                    }
                
            }
            .box_container2{
                position: relative;
                background: url(../content/symova-01.jpg) center, 50% 50% ;
                    background-size: cover;
                    background-position: center left;
                    transition: background .4s;
                    
                    .hover_button{
                        color: #fff;
                        visibility: hidden;
                        margin-top: 15px;
                        font-size: 17px;
                        font-weight: 500;
                        opacity: 0;
                    }
                    &:hover{
                        cursor: pointer;
                         background: url(../content/symova-01.jpg) center center rgba(1, 8, 31, 0.8);
                        background-size: cover;
                        background-blend-mode: multiply;
                        background-position: center left;
                        // transition: transform ease-in-out .4s ;
                        // transform: scale(1.1);

                        .hover_button{
                            visibility: visible;
                            animation: box__content .3s ease-in $lar__del forwards;
                        }
                        .box_text{
                            & p:nth-child(1){
                                animation: box__content .3s ease-in $sm__del forwards;
                            }
                            & p:nth-child(2){
                                animation: box__content .3s ease-in $med__del forwards;
                            }
                        }
                    }
                }
                .box_text{
                    // position: absolute;
                    padding: 50px;
                    width: 300px;
                    height: 250px;
                    @include breakpoint-down(small){
                        padding: 30px 20px;
                    }
                    p:nth-child(1){
                        color: rgb(255, 255, 255);
                        font-size: 16px;
                        font-weight: 500;
                        font-family: sans-serif;
                        @include breakpoint-down(small){
                            font-size: 12px;
                        }
                    }
                    & p:nth-child(2){
                        color: rgb(255, 255, 255);
                        font-size: 35px;
                        font-weight: bold;
                        padding-top: 25px;
                        @include breakpoint-down(small){
                            font-size: 30px;
                            color: rgb(255, 255, 255);
                        } 
                    }    
                }
            }    
        }
#new_projects{
    height: 65rem;
    width: 100%;
    @include breakpoint-down(small){
        width: 22.5rem;
        height: 75rem;
    }
        .project_content{
            padding: 60px 50px 90px 50px;
            @include breakpoint-down(small){
               padding: 30px 15px;
            }
            & p:nth-child(1){
                text-transform: uppercase;
                font-size: 14px;
                font-family: $primaryFont;
                font-weight: 500;
                color: $pickupColor;
                letter-spacing: 4px;
                opacity: .75;
                @include breakpoint-down(small){
                    font-size: 15px;
                    letter-spacing: 5px;
                    }
            }
            & p:nth-child(2){
                font-size: 65px;
                font-family: $primaryFont;
                font-weight: 900;
                color: #000;
                @include breakpoint-down(small){
                    font-size: 31px;
                    margin-top: 5px;
                }
            }
        }
        .project_container{
            display: grid;
            grid-template-columns: repeat(3 ,1fr);
            gap: 45px;
            grid-auto-rows: 1fr;
            width: 100%;
            height: 30rem;
            padding: 0 50px;
            @include breakpoint-down(small){
                grid-template-columns: 1fr;
                grid-auto-rows: 1fr 1fr 1fr;
                gap: 20px;
                height: 58rem;
                padding: 40px 15px;

            }

            .box1{
                background: url(../content/triniso-01.jpg);
                background-size: cover;
                background-position: center right;
                // @include flex(center);
                .text{
                    i{
                        font-size: 30px;
                        margin-bottom: 26px;
                    }
                    color: #fff;
                    font-size: 18px;
                    text-align: center;
                    padding: 120px 65px ;
                    opacity: 0;
                    visibility: hidden;
                    // margin-bottom: 30px;
                }
                &:hover{
                    cursor: pointer;
                    background: url(../content/triniso-01.jpg) rgba(0, 10, 29, 0.911);
                    background-position: center right;
                    background-size: cover;
                    background-blend-mode: multiply;
                    .text{
                        i{
                            animation: box__content .2s $sm__del ease-in forwards;
                        }
                        visibility: visible;
                        animation: box__content .3s ease-in $med__del forwards;
                    }
                        
                }
            
            }
            .box2{
                background: url(../content/pmr-01.jpg) center, 50% 50% ;
                background-size: cover;
                background-position: center left;
                // @include flex(center);
                .text{
                    i{
                        font-size: 30px;
                        margin-bottom: 26px;
                    }
                    color: #fff;
                    font-size: 18px;
                    padding: 120px 65px ;
                    text-align: center;
                    visibility: hidden;
                }
                &:hover{
                    cursor: pointer;
                    background: url(../content/pmr-01.jpg) center left rgba(15,20,30,.95);
                    background-blend-mode: multiply;
                    .text{
                        i{
                            animation: box__content .2s $sm__del ease-in forwards;
                        }
                        visibility: visible;
                        animation: box__content .3s ease-in $med__del forwards;
                    }
                    // opacity: 80%;
                }
            }
            .box3{
                background: url(../content/symova-01.jpg) center left;
                background-size: cover;
                // @include flex(center);
                .text{
                    i{
                        font-size: 30px;
                        margin-bottom: 26px;
                    }
                    color: #fff;
                    font-size: 18px;
                    text-align: center;
                    padding: 120px 65px ;
                    visibility: hidden;
                }
                &:hover{
                    cursor: pointer;
                    background: url(../content/symova-01.jpg) center left rgba(15,20,30,.95);
                    background-blend-mode: multiply;
                    background-size: cover;
                    .text{
                        i{
                            animation: box__content .2s $sm__del ease-in forwards;
                        }
                        visibility: visible;
                        animation: box__content .3s ease-in $med__del forwards;
                    }
                    // opacity: 80%;
                }
            }
        }
        .collaborate{
            // @include flex(center);
            // height: auto;
            padding: 120px 50px 80px 50px;
            @include breakpoint-down(small){
                width: 22.5rem;
                height: 10rem;
            }
            .content{
                @include flex(center);
                flex-direction: column;
                text-align: center;
                & p:nth-child(1){
                    font-size: 1rem;
                    font-family: $primaryFont;
                    font-weight: 500;
                    color: $pickupColor;
                    letter-spacing: 4px;

                }
                & p:nth-child(2){
                    font-size: 4.4rem;
                    font-weight: 900;
                    font-family: $primaryFont;
                    @include breakpoint-down(small){
                        font-size: 2rem;
                    }
                    &:hover{
                        // @include hover;
                        cursor: pointer;
                        position: relative;
                        
                    &::after{
                            content: '';
                            position: absolute;
                            bottom:  -10px;
                            margin: 15px 40px 0 0px;
                            left: 5px;
                            height: 0.45rem;
                            width: 740px;
                            background: $secondaryColor;
                            transition: background 0.3s ease-in-out;
                            
                        }    
                        
                    } 
                    i{
                        font-size: 50px;
                    }
                }
            }
        }
}


// contact section start here...
#contact{
    position: relative;
    height: 30rem;
    width: 100%;
    @include breakpoint-down(small){
        width: 22.5rem;
        height: 60rem;
    }
    .contact_border{
        margin: 85px 50px;
        border-top: 1px solid rgb(212, 198, 198);
        @include breakpoint-down(small){
            margin: 60px 15px 30px 15px;
        }
    }
    .contact_content{
        position: relative;
        padding: 0 50px;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        @include breakpoint-down(small){
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr 1fr 1fr;
            padding: 0 15px;
        }
        > a{
            color: black;
        }


        .contact_info{
            grid-area: 1 / 1 /3 / 3;
            // height: 20rem;
            p:nth-child(1){
                i{
                    font-size: 100px;
                }
                font-size: 1.5rem;
                font-family: $primaryFont;
                font-weight: 700;
            }
            p:nth-child(2){
                margin-top: 0.62rem;
                font-family: sans-serif;
                font-weight: 500;
                width: 325px;
                font-size: 1rem;
                color: $pickupColor;
            }
            p:nth-child(3){
                margin-top: 1.2rem;
                // width: 5.5rem;
                font-family: $secondaryFont;
                font-weight: 500;
                line-height: 21px;
                font-size: 1rem;
                color: rgb(87, 84, 84); 

                > a{
                    @include a_link;
                }
            }
             
        }
        .latest_work{
            grid-area: 1 / 3 / 3 / 3;
            p:nth-child(1){
                font-size: 1.5rem;
                // color: red;
                // width: 14rem;
                // line-height: 30px;
                font-weight: 700;
                font-family: $primaryFont;
            }
            p:nth-child(2){
                margin-top: 0.50rem;
                width: 5rem;
                font-family: $secondaryFont;
                font-weight: 500;
                // line-height: 21px;
                font-size: 1rem;
                // color: $secondaryColor;

                > a{
                    @include a_link;
                    color: $secondaryColor;
                }
            }
        }
        .availability{
            grid-area: 1 / 4 / 4 / 4;
                p:nth-child(1){
                font-size: 1.5rem;                 
                line-height: 30px;
                font-weight: 700;
                font-family: $primaryFont;
                }
                p:nth-child(2){
                    margin-top: 1rem;
                    width: 300px;
                    font-family: sans-serif;
                    font-weight: 500;
                    // line-height: 21px;
                    font-size: 1rem;
                    color: $pickupColor;
                }


        }
        .to_follow{
           
            p:nth-child(1){
                font-size: 1.5rem;                 
                width: 10.5rem;
                line-height: 30px;
                font-weight: 700;
                font-family: $primaryFont;
            }
            p:nth-child(2){
                margin-top: 0.62rem;
                width: 6rem;
                font-family: sans-serif;
                font-weight: 500;
                line-height: 25px;
                font-size: 1rem;

                > a{
                    @include a_link;
                    color: $secondaryColor;
                    i{
                        color: $secondaryColor;

                    }

                }
            }
        }
    }
    .copyright{
        position: absolute;
        bottom: 100px;
        left: 50px;
        // margin-top: 42px;
        @include flex(center);
        opacity: 40%;
        // width: 100%;

        > img{
            height: 50px;
            width: 50px;
        }
        p{
            margin: 7px 0 0 10px;
            font-size: 17px;
        }
    }
    
    .elevator_button{
        margin: 0 50px;
        float: right;
        position: fixed;
        bottom: 35px;
        right: 0px;
        z-index: 1;
        @include breakpoint-down(small){
            display: none;
        }
            &:hover{
                  cursor: pointer;
            }
        .button{
            position: relative;
            display: inline-block;
            height: 50px;
            width: 50px;
            border-radius: 50px;
            background-color: rgba(51, 47, 47, 0.5);
            box-shadow: 0px 10px 10px rgba(0,0,0,0.1); 

            .icon{
                position: relative;
                color: rgb(251, 251, 251);
                // display: inline-block;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                box-sizing: border-box;
                // transition: all 0.3s ease-out;
                    
                    > i{
                        font-size: 22px;
                        padding: 13px 15.5px;
                        // margin-left: 68px;
                    }
            }       
        }
    }
}
